* {
  box-sizing: border-box;
}

.add-bookmark-form {
  border: 1px solid black;
  width: 25%;
}

.add-bookmark-form label {
  float: left;
}

.display-bookmarks {
  border: 1px solid red;
}

.bookmark-item {
  text-align: center;
  border: 1px solid blue;
  list-style-type: none;
}

.bookmark-delete {
  width: 100px;
  margin: 0 auto;
}

.bookmark-edit {
  width: 100px;
  margin: 0 auto;
}

