* {
  box-sizing: border-box;
}

.add-bookmark-form {
  border: 1px solid black;
  width: 25%;
}

.add-bookmark-form label {
  float: left;
}

.display-bookmarks {
  border: 1px solid red;
}

.bookmark-item {
  border: 1px solid blue;
  list-style-type: none;
}

